{% extends "base.html" %}
{% load static %}


{% block homeactive %} active {% endblock homeactive %}
{% block title %} Home {% endblock title %}

{% block content  %}
<!-- Hero Section -->
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Welcome To My Page!</h1>
                <h1>Glad You Stopped By!</h1>
                <br />
                <!-- Inspirational Quote - Want to add an API to make it change -->
                <p><strong>“You will never plough a field if you only turn it over in your mind.”<br />
                    Irish Proverb</strong></p>
            </div>
            <br />

            <div class="col img-col">
                <img src="https://i.imgur.com/2KSQfA7.jpg" class="img-fluid" alt="Software Development">
            </div>
        </div>
        <br>

            <h1 id="my-skills">Skills</h1>

        <div id="services" class="row cards">

            <div class="col-md-4 d-flex justify-content-center">
                <div id="serviceCards" class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img src="https://i.imgur.com/CQL0EzR.png" class="icon" style="width: 10rem; height: 10rem"
                            alt="Service One" />
                        <h5 class="card-title">Software Development</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
                <div id="serviceCards" class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img src="https://i.imgur.com/M3ijAZ7.png" class="icon" style="width: 10rem; height: 10rem"
                            alt="Service Two" />
                        <h5 class="card-title">Cloud Computing</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
                <div id="serviceCards" class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img src="https://i.imgur.com/zzNNMiW.png" class="icon" style="width: 10rem; height: 10rem"
                            alt="Service Three" />
                        <h5 class="card-title">DevOps</h5>
                    </div>
                </div>
            </div>

        </div>
        </div>
        </section>
        <!-- End Hero section -->
<br>
<!-- About us section -->
<section id="about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <img id="about-me" src="https://i.imgur.com/9G5agB7.jpg" class="rounded-circle img-fluid"
                    style=" width: 18rem; height: 18rem" alt="About Us">
            </div>
            <div class="col text-col">
                <h1>About Me</h1>
                <p class="body-text">I was in finance prior to a break from full-time work. I plan to re-enter the full-time workforce in the IT field. I can get through front-end and some full-stack projects. I also have cloud skills on the AWS and Azure platforms in relation to DevOps. I love creating, solving problems, and learning new tools to enhance my development skills.</p>

                <p class="body-text">I'm available for small or large projects.
                    I'm currently honing my Python/Django skills, building projects, and pursuing Cloud certifications. I currently hold the Azure Fundamentals (AZ-900), Azure Data Fundamentals (DP-900), Microsoft Azure Administrator - Associate (AZ-104), and the AWS Certified Cloud Practitioner certifications. I was recently awarded training for Data & AI Fundamentals exams on the Azure Cloud from the Women in Cloud community.</p>

                <p class="body-text">When I get the chance, I like sitting at the beach feeling the breeze and watching the waves.</p>
            </div>
        </div>
    </div>
</section>
<!-- End About us section -->
<br>
<!-- Projects section -->
<section id="projects">
    <div class="container">
        <div class="row align-items-center projects">
            <div class="col">
                <h1 id="my-projects">My Projects</h1>
            </div>
        </div>

        <h4>Azure</h4>
        <br />
        <div class="row align-items-center">
            <div class="col">
                <div class="card mb-3">
                    <img src="./static/images/ScreenshotFakeRestDeploy.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ensuring Quality Releases</h5>
                        <p class="card-text">In this project I created a VM using Terraform and deployed a Fake Rest API App to Azure AppService. I then tested the environments and ran automated tests in an Azure DevOps pipeline. </p>
                        <p class="card-text"><small class="text-muted">Python, Terraform, Azure App Service, Azure DevOps, Azure CLI, Jmeter, Postman, Selenium, Azure Log Analytics, Git and GitHub</small></p><br />
                        <a href="https://github.com/Juwana-Zerman/Azure-Devops-Project3"><button type="button" class="btn btn-secondary">Project Link</button></a>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card mb-3">
                    <img src="./static/images/AzureProj2screenshot.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">CI/CD With Azure Pipelines</h5>
                        <p class="card-text">In this project I used GitHub Actions for continuous integration to lint, test, and install packages in a Flask app that would make a prediction. Continuous delivery was enabled using Azure Pipelines to deploy the project to Azure App Service.</p>
                        <p class="card-text"><small class="text-muted">Python, Flask, Azure Pipelines, GitHub
                                Actions, Locust, Azure App Service, Azure Cloud Shell, Trello, Agile Methodology</small>
                        </p><br />
                        <a href="https://github.com/Juwana-Zerman/azure-pipeline-project2"><button type="button"
                                class="btn btn-secondary">Project Link</button></a>
                    </div>
                </div>
            </div>

<div class="row align-items-center">
            <div class="col">
                <div class="card mb-3">
                    <img src="./static/images/Azure-IaaS.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Deploy a Scalable Iaas Web Server in Azure</h5>
                        <p class="card-text">This project consisted of creating Packer and Terraform templates to deploy a customizable, scalable web server in Azure.</p>
                        <p class="card-text"><small class="text-muted">Azure VM, Packer, Terraform, Azure CLI </small></p>
                        <a href="https://github.com/Juwana-Zerman/Azure-DevOps-Nanodegree-P1"><button type="button"
                                class="btn btn-secondary">Project Link</button></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <!-- <div class="card mb-3"> -->
                <!-- <img src="./assets/projects/project4.jpg" class="card-img-top" alt="..."> -->
                <!-- <div class="card-body"> -->
                <!-- <h5 class="card-title">Give Me A Ride</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Google Api, Golang, Swift</small></p> -->
            </div>
            </div>
            </div>
            <br />
        <h4>AWS</h4>
        <br />

    <div class="row align-items-center">
            <div class="col">
                <div class="card mb-3">
                    <img src="./static/images/AWSCloudDevopsProject.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">AWS Cloud Devops Project</h5>
                        <p class="card-text">In this project I deployed a Python Flask app using a pre-trained <strong>sklearn</strong> model that serves out predictions about housing prices through API calls. This project was created using an AWS Cloud9 environment with an EC2 instance running Ubuntu Linux 18.04. Docker was used to containerize the application. A container was deployed using Kubernetes and CircleCI was used to test the build.
                        </p>
                        <p class="card-text"><small class="text-muted">Python, Docker, Flask, Kubernetes, Git and GitHub, CircleCI, Minikube, AWS Cloud 9, Ubuntu</small></p><br />
                        <a href="https://github.com/Juwana-Zerman/devops-project-udacity"><button type="button"
                                class="btn btn-secondary">Project Link</button></a>
                    </div>
                </div>
            </div>

                    <div class="col">
                        <div class="card mb-3">
                            <img src="./static/images/AWSWebAppConfigProject2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">AWS Infrastructure as Code</h5>
                                <p class="card-text">In this project I deployed an autoscaling app to AWS using CloudFormation. The purpose of the project was to deploy infrastructure as code to AWS.
                                </p>
                                <p class="card-text"><small class="text-muted">Git and Github, JSON, YAML, CloudFormation, Bash, Lucid Chart, AWS, VSCode</small></p><br />
                                <a href="https://github.com/Juwana-Zerman/Infrastructure-as-Code-project2"><button
                                        type="button"
                                        class="btn btn-secondary">Project Link</button></a>
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="row align-items-center">
                    <div class="col">
                        <div class="card mb-3">
                            <img src="./static/images/AWSStaticProject1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Jenkins Pipeline on AWS</h5>
                                <p class="card-text">This project created a Jenkins Pipeline and deployed a static website to AWS S3.</p>
                                <p class="card-text"><small class="text-muted">AWS S3, EC2, VPC, IAM, Jenkins, Blue Ocean, HTML, Git and GitHub
                                    </small></p>
                                <a href="https://github.com/Juwana-Zerman/static"><button
                                        type="button" class="btn btn-secondary">Project Link</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- <div class="card mb-3"> -->
                        <!-- <img src="./assets/projects/project4.jpg" class="card-img-top" alt="..."> -->
                        <!-- <div class="card-body"> -->
                        <!-- <h5 class="card-title">Give Me A Ride</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Google Api, Golang, Swift</small></p> -->
                    </div>
                </div>
                </div>
                <br />



        </div>
    </div>
</section>
<!-- End Projects section -->
<br>

{% endblock %}
