appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
autopep8==1.5.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
distlib==0.3.1
Django==3.1.6
#django-environ-2==2.1.0
django-widget-tweaks==1.4.8
django-widgets-improved==1.5.0
filelock==3.0.12
idna==2.10
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pipenv==2020.11.15
psycopg2==2.9.1
pycodestyle==2.6.0
pylint==2.6.0
#python-decouple==3.4
#python-dotenv==0.18.0
pytz==2021.1
requests==2.25.1
selenium==3.141.0
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.2
virtualenv==20.4.2
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
webdriver-manager==3.4.2
Werkzeug==1.0.1
wrapt==1.12.1

