<!-- {% extends 'blog.html' %} -->

<h1>{{ post.title }}</h1>
<small>By: {{ post.author }} </small><br/>
<hr>
<br/>
{{ post.content }}

<br/><br/>
<a href="{% url '/blog' %}"><button type="submit" class="btn btn-secondary">Back</button></a>

<!-- {% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
                <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
                <p class="card-text ">{{ object.content | safe }}</p>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

{% endblock content %} -->